{% extends "cms/base.html" %}

{% block title %}投稿一覧{% endblock title %}

{% block content %}
    {% for post in posts %}
    <div class="box11">
      <p class="content-title">{{ post.name }}</p>
      <p class="content-author">投稿者: {{ post.author }}</p>
      {{ post.content }}
      <div class="edit-button">
        <a href="{% url 'cms:post_mod' post_id=post.id %}" class="btn btn-outline-primary btn-sm">修正</a>
        <a href="{% url 'cms:post_del' post_id=post.id %}" class="btn btn-outline-danger btn-sm">削除</a>
      </div>
    </div>
    {% endfor %}
    <a href="{% url 'cms:post_add' %}" class="share_btn2 shtw">
        <i class="fas fa-plus"></i>
    </a>
    <!-- <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">タイトル</th>
          <th scope="col">投稿者</th>
          <th scope="col">本文</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr>
          <th scope="row">{{ post.id }}</th>
          <td>{{ post.name }}</td>
          <td>{{ post.author }}</td>
          <td>{{ post.content }}</td>
          <td>
            <a href="{% url 'cms:post_mod' post_id=post.id %}" class="btn btn-outline-primary btn-sm">修正</a>
            <a href="{% url 'cms:post_del' post_id=post.id %}" class="btn btn-outline-danger btn-sm">削除</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table> -->
{% endblock content %}