{% extends "cms/base.html" %}

{% block title %}投稿一覧{% endblock title %}

{% block content %}
  <div class="list-title">- 投稿一覧 -</div>
    {% for post in posts %}
    <div class="box11">
      <div class="content-title">{{ post.name }}</div>
      <p class="content-author">投稿者: {{ post.author }} | {{ post.update|date:"Y/m/d H:i" }}</p>
      {{ post.content|linebreaksbr|truncatechars:50 }}
      <a class="box11_a" href="{% url 'cms:post' post_id=post.id %}"></a>
    </div>
    <!-- <div class="edit-button">
        <a href="{% url 'cms:post_mod' post_id=post.id %}" class="btn btn-outline-primary btn-sm">修正</a>
        <a href="{% url 'cms:post_del' post_id=post.id %}" class="btn btn-outline-danger btn-sm">削除</a>
      </div> -->
    {% endfor %}
    <a href="{% url 'cms:post_add' parent=0%}" class="share_btn2 shtw">
        <i class="fas fa-plus"></i>
    </a>
{% endblock content %}